<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.vectorjet.gboardfix"
    android:versionCode="6"
    android:versionName="1.5">

    <application
        android:label="GboardGapFix"
        android:hasCode="true">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Clamps Gboard bottom gesture inset so the keyboard sits on the pill" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
        <meta-data
            android:name="xposedscope"
            android:value="com.google.android.inputmethod.latin,dev.jason.com.google.android.inputmethod.latin" />
    </application>
</manifest>
