<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.vectorjet.navfix"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- Static RRO shrinking Pixel Launcher Taskbar window (fillx60 nav inset).
         Installed by the companion Magisk module into /product/overlay so idmap
         is granted without signature/overlayable. -->
    <overlay
        android:targetPackage="com.google.android.apps.nexuslauncher"
        android:isStatic="true"
        android:priority="10" />

    <application android:hasCode="false" />
</manifest>
